.main-wrapper{
	color: white;
	max-width: 1200px;
	background-color: white;
	padding: 50px;
}
.first-block{
	padding: 40px;
	background: #585960;
	display: flex;
	justify-content: space-between;
}
.first-block_text{
	width: 60%;
}

.first-block_image{
	height: 160px;
	background: whitesmoke;
	width: 30%;
}
.text-header{
	font-size: 40px;
	margin: 0 0 20px 0;
	font-family: Roboto, sans-serif;
}
.text-text_children{
	font-family: Roboto, sans-serif;
	font-size: 17px;
	display: flex;
	padding-top: 3px;
	padding-bottom: 3px;
}
.children_img-image{
	width: 17px;
}
.children_img{
	margin-right: 10px;
}
.Put_on_this_page_information_about_your_product {
	font-size: 20px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.8;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
  
  .bg_review {
	background-image: url("bg review.png");
	position: absolute;
	left: 141px;
	top: 1824px;
	width: 483px;
	height: 121px;
	z-index: 109;
  }
  .bg {
	background-image: url("bg.png");
	position: absolute;
	left: 835px;
	top: 2103px;
	width: 300px;
	height: 499px;
	z-index: 155;
  }
  